doctype html
html
  head
    title fcc-metadata-api
    meta(charset='utf-8')
    meta(http-equiv='Content-type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
  body
    .container-fluid
      br
      br
      br
      h1.text-primary= title
      br
      form(action='upload', method='post', enctype='multipart/form-data')
        label(for='targetFile') File:
        br
        |
        input#targetFile(type='file',name="targetFile")
        br
        br
        |
        input.btn.btn-default(type='submit')
